panic if percent sign present in a header field

The header parsing code panics with an overflow error if a header value contains a percent sign followed by anything other than the characters `A` to `F`.
e.g., `X-Foobar: abc%20def`

The issue appears to be this code: 
https://github.com/sammhicks/picoserve/blob/ebc10026178a61b1a894b1af110d3fba96c45ee0/src/request.rs#L670-L675

Subtracting `b'A'` causes an overflow if the value is anything other than `A` through `F`.  Presumably the code should subtract `b'0'` if the character is `0` through `9`.

However, it's not clear to me that it is correct for this code to try and attempt percent decoding in the first place.  HTTP header fields are not percent encoded according to RFC 7230.  It specifies percent encoding for URI values only.  With regards to header field parsing, [section 3.2.4](https://www.rfc-editor.org/rfc/rfc7230#section-3.2.4) states:

> Historically, HTTP has allowed field content with text in the ISO-8859-1 charset [[ISO-8859-1](https://www.rfc-editor.org/rfc/rfc7230#ref-ISO-8859-1)], supporting other charsets only through use of [[RFC2047](https://www.rfc-editor.org/rfc/rfc2047)] encoding.  In practice, most HTTP header field values use only a subset of the US-ASCII charset [[USASCII](https://www.rfc-editor.org/rfc/rfc7230#ref-USASCII)]. Newly defined header fields SHOULD limit their field values to US-ASCII octets.  A recipient SHOULD treat other octets in field content (obs-text) as opaque data.

[RFC 8187](https://www.rfc-editor.org/rfc/rfc8187) does specify a more complex encoding scheme to support non-ASCII characters in headers that use `"header: token; name=value"` parameter syntax, and it uses percent encoding as part of this.  However, this doesn't appear to apply generally to all headers.

So if I understand correctly, taking into account newer RFCs deprecating features in old RFCs, an overly permissive but functional processing logic is as follows:

1. Read until `b'\n'`, call `line`
2. Verify that line contains only values in the range 0-127
3. Strip ASCII whitespace either side of `line`
4. Split `line` at first `b':'`, fail if not found, call parts `name` and `value`
5. Strip ASCII whitespace either side of `name` and `value`

It's overly permissive in that it allows some invalid header names and values, but is a much simpler logic and doesn't reject valid header names and values.

Does this make sense?

Yeah, that sounds reasonable, although have a few suggested changes about whitespace handling:

> 3. Strip ASCII whitespace either side of line

Leading whitespace at the start of the line should either be treated as a header continuation line, or rejected with a 400 error.  I would probably just reject the request if a line contains leading whitespace.

From [RFC 7230](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.4):

> Historically, HTTP header field values could be extended over
   multiple lines by preceding each extra line with at least one space
   or horizontal tab (obs-fold).  This specification deprecates such
   line folding except within the message/http media type
   ([Section 8.3.1](https://datatracker.ietf.org/doc/html/rfc7230#section-8.3.1)).
...
> A server that receives an obs-fold in a request message that is not
   within a message/http container MUST either reject the message by
   sending a 400 (Bad Request), preferably with a representation
   explaining that obsolete line folding is unacceptable, or replace
   each received obs-fold with one or more SP octets prior to
   interpreting the field value or forwarding the message downstream.

Also, regarding whitespace around the name:

> 5. Strip ASCII whitespace either side of name and value

If you reject lines starting with whitespace, there should be no whitespace left of the name.  Whitespace to the right of the name should also be rejected.  Also from the same section of the RFC:

> No whitespace is allowed between the header field-name and colon.  In
   the past, differences in the handling of such whitespace have led to
   security vulnerabilities in request routing and response handling.  A
   server MUST reject any received request message that contains
   whitespace between a header field-name and colon with a response code
   of 400 (Bad Request).

Also, on a slightly separate note, I think it might be useful to implement header processing by first reading until you see `b'\r\n\r\n'` to get the full header buffer, and then to have a function that can parse the header buffer.

I'm playing around with writing some code that can parse `multpart/form-data` POST bodies ([RFC 7578](https://datatracker.ietf.org/doc/html/rfc7578)).  Each section of the POST body starts with header fields.  It would be nice to be able to re-use the header parsing function here as well.  I can possibly take a stab later at pulling out the header parsing logic this way if that sounds reasonable to you.

Regarding handling multipart/form-data headers, the fact that `Headers` uses `str` rather than `&[u8]` seems like it might be problematic.  Browsers do seem to send non-ASCII values in these headers.  e.g., when uploading a file named `wöw.txt`, Chrome sends this filename in the `Content-Disposition` header encoded as Latin-1, and Firefox sends it as UTF-8.  Both of these put non-ASCII values in the header.

[RFC 6266 Appendix D](https://www.rfc-editor.org/rfc/rfc6266.html#appendix-D) contains recommendations for handling this header.  http://test.greenbytes.de/tech/tc2231/ contains more details about how browsers behave in practice.

Actually, after playing around with trying to use the Headers code for processing form-data POST requests, I think I have come up with a better API plan.  A couple motivating factors:

- I think the `Headers` structure should store `[u8]` rather than `str`, since in practice user agents can send Latin-1 or UTF-8 data in headers.  We can still provide the existing APIs to iterate over the headers as `str`, but I think it is important to be able to handle non-ASCII data in headers rather than failing the entire request.
- It is useful to be able to do in-place decoding of header values, so you can do things like [backslash un-escaping](https://www.rfc-editor.org/rfc/rfc9110.html#name-quoted-strings) and percent decoding in-place without needing a separate buffer.  The current `Headers` structure makes this difficult since it stores an immutable buffer, and mutating the buffer would break the iteration and `get()` functionality.  The core headers code itself also can't really know how each header value needs to be decoded--the behavior varies from header to header.

I think we can change `Headers` to store `&mut [u8]` instead of `&str`, and then add some sort of `parse()` function, that can parse the header into a user-defined structure.  It should be possible to build a serde-like derive macro so that users can define their own header structs something along the lines of

```
#[derive(Headers)]
struct MyHeaders<'a> {
  content_type: &'a mut [u8],
  host: &'a mut [u8],
}
```

and then you can call `Headers::parse::<MyHeaders>()` to parse the generic headers object and get mutable ranges pointing to those header values.

The existing `Headers` and `HeadersIter` APIs can remain mostly as is for backwards compatibility for existing clients.  However, one change that would be required is that the `Headers` object would no longer be `Copy` or `Clone` since it stores a mutable reference to the buffer.  We could provide a method to convert it into a read-only version that still implements `Copy` and `Clone` for users that need this functionality.

Sounds good! I've temporarily reverted the header parsing code, and implemented simple "HeaderName" and "HeaderValue" structs, which internally are `[u8]`, thus allowing non-utf8 characters, but I'm definitely interested in the derivable header parsing logic you've mentioned!

I'll close the issue for the time being, let me know how your research goes :)